<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="31f5c049-8384-4003-b46b-35fca5e78423" Publisher="CN=tc_sb" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ContousCookbook</DisplayName>
    <PublisherDisplayName>tc_sb</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Contous Cookbook.App">
      <m2:VisualElements DisplayName="Contous Cookbook" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Contous Cookbook, which can satisfact you with the delicious!" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>